.headerBar {
    align-items: center;
    background: var(--color-theme-extra-dark);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-small);
    justify-content: space-between;
    min-height: 94px;
    padding: var(--space-small) var(--space-medium);
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.withBorder {
    border-bottom: 3px solid var(--color-primary);
}

.title {
    color: var(--color-white);
    font-size: var(--font-size-3);
    font-weight: 600;
    line-height: var(--line-size-3);
    user-select: none;
}

.center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.side {
    align-items: center;
    column-gap: var(--space-small);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: var(--space-small);
    width: fit-content;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}
